---
swagger: '2.0'
info:
  title: Tennis Service
  version: 1.0.0
  description: The tennis service allows games to be generated for male/female duo's
host: tennis-api.endpoints.tennis-games.cloud.goog
x-google-endpoints:
  - name: tennis-api.endpoints.tennis-games.cloud.goog
    allowCors: true
    target: 35.205.70.155
x-google-allow: all
paths:
  "/games":
    get:
      summary: Retrieves a new set of games to be played
      operationId: generateGames
      parameters:
        - name: games
          in: query
          description: the amount of games to generate, defaults to all
          type: integer
        - name: courts
          in: query
          required: true
          description: the amount of playable courts
          type: integer
        - name: interval
          in: query
          required: true
          description: over which interval should the games be spread
          type: string
        - name: groupA
          in: query
          required: true
          description: the unique names of all the group A players
          type: array
          items:
            type: string
        - name: groupB
          in: query
          required: true
          description: the unique names of all the group B players
          type: array
          items:
            type: string
      responses:
        '200':
          description: ok
          schema:
            "$ref": "#/definitions/GamesResponse"
definitions:
  PlayerView:
    type: object
    required:
      - name
      - group
    properties:
      name:
        type: string
      group:
        type: string
        enum:
          - A
          - B
  TeamView:
    type: object
    required:
      - playerA
      - playerB
    properties:
      playerA:
        "$ref": "#/definitions/PlayerView"
      playerB:
        "$ref": "#/definitions/PlayerView"
  MatchInterval:
    type: string
    enum:
      - WEEKS
      - MONTHS
  MatchView:
    type: object
    required:
      - teamA
      - teamB
    properties:
      court:
        type: integer
      teamA:
        "$ref": "#/definitions/TeamView"
      teamB:
        "$ref": "#/definitions/TeamView"
  Interval:
    type: object
    required:
      - date
      - matches
    properties:
      id:
        type: string
        format: uuid
      date:
        type: string
        format: date
      matches:
        type: array
        items:
          "$ref": "#/definitions/MatchView"
  GamesResponse:
    type: object
    required:
      - courts
      - interval
      - intervals
    properties:
      courts:
        type: integer
      intervalType:
        "$ref": "#/definitions/MatchInterval"
      intervals:
        type: array
        items:
          "$ref": "#/definitions/Interval"
x-components: {}
