<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Tennis Games</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap-reboot.css">
        <link rel="stylesheet" href="css/bootstrap.css">

        <style type="text/css">

            span.male {
                color: deepskyblue;
            }

            span.female {
                color: hotpink;
            }

        </style>

        <script type="text/javascript " src="js/vue.js"></script>
        <script type="text/javascript">

            window.addEventListener('load', function () {

                Vue.component('match-player', {
                    props: ['player'],
                    computed: {
                        classObject: function () {
                            return {
                                'male': this.player['gender'] === 'MALE',
                                'female': this.player['gender'] === 'FEMALE'
                            }
                        },
                        playerName: function () {
                            return this.player.name.charAt(0).toUpperCase() + this.player.name.slice(1);
                        }
                    },
                    template: '<span v-bind:class="classObject">{{ playerName }}</span>'
                });

                Vue.component('match-team', {
                    props: ['team'],
                    template: `
                        <li class="team list-group-item">
                            <match-player v-bind:player="team.playerA"/>
                            <span>/</span>
                            <match-player v-bind:player="team.playerB"/>
                        </li>
                    `
                });

                Vue.component('interval-match', {
                    props: ['match'],
                    template: `
                        <div class="match card shadow-sm">
                            <div class="card-header">
                                <h5 class="court m-0 font-weight-normal">Court {{ match.court }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <match-team v-bind:team="match.teamA"></match-team>
                                <match-team v-bind:team="match.teamB"></match-team>
                            </ul>
                        </div>
                    `
                });

                Vue.component('game-interval', {
                    props: ['interval'],
                    template: `
                        <div class="interval text-center col-sm-12 col-md-6 col-lg-6 mb-3 p-2">
                            <h4>{{ interval.date }}</h4>
                            <div class="card-deck">
                                <interval-match v-bind:match="match" v-bind:key="match.court" v-for="match in interval.matches"></interval-match>
                            </div>
                        </div>
                    `
                });

                function getGames() {
                    let url = `${this.host}/games/?interval=${this.intervalType}&games=${this.games}&courts=${this.courts}`;
                    url += `&men=${this.men.join('&men=')}`;
                    url += `&women=${this.women.join('&women=')}`;

                    fetch(url, {'mode': 'cors'}).then(function (res) {
                        return res.json();
                    }).then(function (games) {
                        this.courts = games.courts;
                        this.intervalType = games.intervalType;
                        this.intervals = games.intervals;
                    }.bind(this));
                }

                app = new Vue({
                    el: '#app',
                    data: {
                        intervals: [],

                        host: 'http://localhost:8080',
                        intervalType: 'WEEKS',
                        games: 21,
                        courts: 2,

                        men: ['1', '2', '3', '4'],
                        women: ['A', 'B', 'C', 'D']
                    },

                    computed: {
                        hasGames: function () {
                            return this.intervals && this.intervals.length > 0;
                        },

                        womenArea: {
                            get: function () {
                                return this.women.join('\n');
                            },
                            set: function (newValue) {
                                this.women = newValue.split('\n');
                            }
                        },

                        menArea: {
                            get: function () {
                                return this.men.join('\n');
                            },
                            set: function (newValue) {
                                this.men = newValue.split('\n');
                            }
                        }
                    },

                    methods: {
                        getGames,
                        resetGame: function () {
                            this.intervals = [];
                        }
                    }
                });
            });

        </script>
    </head>

    <body>
        <div class="container" id="app">

            <nav class="navbar navbar-light bg-light rounded">
                <a class="navbar-brand" href="#">Tennis Games</a>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button" v-on:click="resetGame">New game</button>
                </form>
            </nav>

            <div class="jumbotron mt-3" v-if="!hasGames">
                <h1 class="display-4">Couple match generator</h1>
                <p class="lead">Create a new game schedule</p>
                <form>
                    <div class="form-group">
                        <label for="games">Games</label>
                        <input type="text" class="form-control" v-model="games" id="games">
                    </div>
                    <div class="form-group">
                        <label for="courts">Courts</label>
                        <input type="text" class="form-control" v-model="courts" id="courts">
                    </div>
                    <div class="form-group">
                        <label for="intervalType">Interval Type</label>
                        <select class="form-control" id="intervalType" v-model="intervalType">
                            <option value="WEEKS">WEEKLY</option>
                            <option value="MONTHS">MONTHLY</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="men">Men</label>
                            <textarea v-model="menArea" class="form-control" id="men" rows="4"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="women">Women</label>
                            <textarea v-model="womenArea" class="form-control" id="women" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark" type="button" v-on:click="getGames">Generate</button>
                    </div>
                </form>
            </div>

            <div class="games py-3" v-if="hasGames">
                <div class="row">
                    <game-interval v-bind:interval="interval" v-bind:key="interval.id" v-for="interval in intervals"></game-interval>
                </div>
            </div>
        </div>
    </body>
</html>
